<header>
  <span>Home</span>
  <span>Posts</span>
  <span>Cursos</span>
</header>



<main>
  <section class="banner">
    <div class="text">
    <h2>
      SmartEdge
    </h2>
    <span>
      Na  SmartEdge, acreditamos que a educação é a chave para o sucesso. Oferecemos uma variedade de cursos cuidadosamente projetados para atender às suas necessidades e aspirações. Com instrutores experientes e uma abordagem prática de aprendizado, estamos comprometidos em fornecer a você a melhor educação possível.
    </span>
    </div>
    
    <img src="../../assets/images/imagebanner.png" alt="">
    <!-- <img src="../../assets/images/wave.svg" alt=""> -->
    
  </section>
  <div class="cursos">
    <div class="card">
      <img src="../../assets/images/frontend.png" alt="">
    </div>
    <div class="card">
      <img src="../../assets/images/backend.png" alt="">

    </div>
    <div class="card">

      <img src="../../assets/images/fullstack.png" alt="">
    </div>
  </div>
  
  <div class="feed">
    <div *ngFor="let post of posts" class="post">
      <h3>{{ post.pts_title }}</h3>
      <p>{{ post.pts_description }}</p>

      
  <ng-container *ngIf="post.pts_image">
    <img [src]="getImageUrl(post.pts_image)" alt="Post Image" width="200">
  </ng-container>
  
  <ng-container *ngIf="post.pts_video">
    <video [src]="getVideoUrl(post.pts_video)" controls width="200"></video>
  </ng-container>

    </div>
  </div>
  <section>
  </section>
</main>
<footer>
  <h2>contatos</h2>
</footer>