<header>
  <span (click)="homepage()">Home</span>
  <span>Posts</span>
  <span>Cursos</span>
  <span (click)="logout()">LogOut</span>
</header>

<main>
  <form (ngSubmit)="onSubmit()" class="posts-add">
    <h2>New Post</h2>
    <label for="title">Title:</label>
    <input
      type="text"
      name="title"
      [(ngModel)]="title"
      class="title-input"
      required
      placeholder="Titulo"
    />
    <br />
    <label for="description">Description:</label>
    <textarea
      name="description"
      [(ngModel)]="description"
      class="description-text"
    ></textarea>

    <div class="files">
      <div class="inputs">
      <label for="video">
        <i class="fa-solid fa-file-video" (click)="videoClicked()"></i>
        <input
          #videoInput
          type="file"
          name="video"
          (change)="onVideoSelected($event)"
          accept="video/*"
          class="video-input"
        />
      </label>

      <label for="image">
        <i class="fa-solid fa-image" (click)="imageClicked()" ></i>

        <input
        
          #imageInput
          type="file"
          name="image"
          (change)="onImageSelected($event)"
          accept="image/*"
          class="image-input"
          style="display: none"
        />
      </label>
      </div>
      <div class="preview">
        <img [src]="imagePreview" *ngIf="imagePreview" alt="Image Preview" />
      </div>
    </div>
    <br />
    <button type="submit">Submit</button>
  </form>

  <br />
  <div *ngFor="let post of posts">
    <button (click)="deletePost(post.pts_id)">Deletar</button>
    <h3>{{ post.pts_title }}</h3>
    <p>{{ post.pts_description }}</p>

    <ng-container *ngIf="post.pts_image">
      <img [src]="getImageUrl(post.pts_image)" alt="Post Image" width="200" />
    </ng-container>

    <ng-container *ngIf="post.pts_video">
      <video [src]="getVideoUrl(post.pts_video)" controls width="200"></video>
    </ng-container>

    <hr />
  </div>
</main>
